@page "/"

<PageTitle>Home</PageTitle>

<MudMainContent>
    <MudContainer MaxWidth="MaxWidth.Small">
        <MudPaper Height="400px" Width="300px" Square="true" Class="pa-4">
            <MudTextField Class="pa-4" @bind-Value="Visor" Label="Disabled" Variant="Variant.Filled" Disabled="true" />
            <MudGrid Justify="Justify.Center" Class="pa-4">
                <MudButtonGroup>
                    <MudButtonGroup Variant="Variant.Outlined" Size="Size.Large" Vertical="true" Style="@($"color:{Theme.PaletteLight.Dark}; background:{Theme.PaletteLight.Warning};")">
                        <MudButton>+</MudButton>
                        <MudButton>-</MudButton>
                        <MudButton>*</MudButton>
                        <MudButton>/</MudButton>
                        <MudButton>C</MudButton>
                    </MudButtonGroup>
                    <MudButtonGroup Variant="Variant.Outlined" Size="Size.Large" Vertical="true" Style="@($"background:{Theme.PaletteDark.Dark}")">
                        <MudButton Style="@($"color:{Theme.PaletteDark.White}")">7</MudButton>
                        <MudButton Style="@($"color:{Theme.PaletteDark.White}")">4</MudButton>
                        <MudButton Style="@($"color:{Theme.PaletteDark.White}")">1</MudButton>
                        <MudButton Style="@($"color:{Theme.PaletteDark.White}")">0</MudButton>
                    </MudButtonGroup>
                    <MudButtonGroup Variant="Variant.Outlined" Size="Size.Large" Vertical="true" Style="@($"background:{Theme.PaletteDark.Dark}")">
                        <MudButton Style="@($"color:{Theme.PaletteDark.White}")">8</MudButton>
                        <MudButton Style="@($"color:{Theme.PaletteDark.White}")">5</MudButton>
                        <MudButton Style="@($"color:{Theme.PaletteDark.White}")">2</MudButton>
                        <MudButton Style="@($"color:{Theme.PaletteDark.White} ")">.</MudButton>
                    </MudButtonGroup>
                    <MudButtonGroup Variant="Variant.Outlined" Size="Size.Large" Vertical="true" Style="@($"background:{Theme.PaletteDark.Dark}")">
                        <MudButton Style="@($"color:{Theme.PaletteDark.White}")">9</MudButton>
                        <MudButton Style="@($"color:{Theme.PaletteDark.White}")">6</MudButton>
                        <MudButton Style="@($"color:{Theme.PaletteDark.White}")">3</MudButton>
                        <MudButton Style="@($"color:{Theme.PaletteDark.White}")">=</MudButton>
                    </MudButtonGroup>
                </MudButtonGroup>
            </MudGrid>
        </MudPaper>
    </MudContainer>
</MudMainContent>


@* <MudMainContent>
    <MudContainer MaxWidth="MaxWidth.Medium">
        <body>
            <div id="calculator">
                <input id="display" readonly>
                <div id="keys">
                    <button onclick="appendToDisplay('+')" class="operator-btn">+</button>
                    <button onclick="appendToDisplay('7')">7</button>
                    <button onclick="appendToDisplay('8')">8</button>
                    <button onclick="appendToDisplay('9')">9</button>
                    <button onclick="appendToDisplay('-')" class="operator-btn">-</button>
                    <button onclick="appendToDisplay('4')">4</button>
                    <button onclick="appendToDisplay('5')">5</button>
                    <button onclick="appendToDisplay('6')">6</button>
                    <button onclick="appendToDisplay('*')" class="operator-btn">*</button>
                    <button onclick="appendToDisplay('1')">1</button>
                    <button onclick="appendToDisplay('2')">2</button>
                    <button onclick="appendToDisplay('3')">3</button>
                    <button onclick="appendToDisplay('/')" class="operator-btn">/</button>
                    <button onclick="appendToDisplay('0')">0</button>
                    <button onclick="appendToDisplay('.')">.</button>
                    <button onclick="calculate()">=</button>
                    <button onclick="clearDisplay()" class="operator-btn">C</button>
                </div>
            </div>
        </body>
    </MudContainer>
</MudMainContent> *@

@code {
    private MudTheme Theme = new();
    public string Visor { get; set; }
}